<html>
<head>

	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/toggle.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome/css/font-awesome.min.css">
	<title>Admin Dashboard</title>

</head>
<body>
	<div class='container'>
		<div class='jumbotron'>
			<h1>Coding Dojo Admin</h1>
		</div>
		
		<div class='info'>
			<div>
				<h5>
					<strong>ADMIN VIEW - </strong>
					Contractors / Part Time Employees
				</h5>
				<div class='pull-right'>
					<a href="/admin/settings" ><i class="fa fa-cog"></i> settings</a> / <a href="/index">logout</a>
				</div>
			</div>
			
		</div>
		<div>
			<div class='pull-right'>
				Show <select>
				<option value="all">All</option>
				<% for	(var i = 0; i < list.length; i++){ %>
					<option value="<%= list[i].id %>"><%= list[i].name %></option>
				<%	} %>
			</select>
		</div>	

		<div class="switch-toggle switch-candy">
			<input id="dashboard" name="view" type="radio" checked>
			<label for="dashboard" onclick="location.href='/admin/dashboard'">Dashboard</label>

			<input id="history" name="view" type="radio">
			<label for="history" onclick="location.href='/admin/history'">History</label>

			<a></a>
		</div>
	</div>	
	
	<table class='table'>
		<thead>
			<th>Picture</th>
			<th>Name</th>
			<th>Status</th>
			<th>Title</th>
			<th>Team</th>
			<th>Supervisor</th>
			<th>Location</th>
			<th>Note</th>
			<th>Actions</th>
		</thead>
			<% for	(var i = 0; i < table.length; i++){ %>
				<tr>
					<td><img src="<%= (table[i].picture == '' ? 'sample.png' : table[i].picture ) %>" alt="<%= table[i].name %> profile pic"></td>
					<td><%= table[i].name %></td>
					<td><%= table[i].status %></td>
					<td><%= table[i].title %></td>
					<td><%= table[i].team %></td>
					<td><%= table[i].supervisor %></td>
					<td><%= table[i].locations %></td>
					<td><%= table[i].note %></td>
					<td><a href=""> Show </a> / <a href=""> Edit </a></td>
				</tr>
			<%	} %>
	</table>
	<a href="/admin/new_user" class='pull-right'><i class='fa fa-plus-square'></i> Add Employee</a>

</div>
</body>
</html>