<html ng-app='myApp'>
<head>

	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/toggle.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
	<title>Admin History View</title>

</head>
<body>
	<div class='container'>
		<div class='jumbotron'>
			<h1>Admin History View</h1>
		</div>

		<div class='info'>
			<h5>
				<strong>ADMIN VIEW - </strong>
				Contractors / Part Time Employees
			</h5>

			<div id='filters' class='pull-right'>

				<div class='filters'>	
					Location: <select>
					<option>Location</option>
				</select>		
			</div>

			<div class='filters'>
				Name:    <select>
				<option>Name</option>
			</select>	
		</div>
		<br>
		<div class='filters'>
			Date: <input type='date'>
		</div><br>
		<ul class='filters pull-right'>
			<li><a href="">This Week</a></li>
			<li><a href="">Last Week</a></li>
			<li><a href="">This Month</a></li>
			<li><a href="">Last Month</a></li>						
		</ul>
	</div>	

	<div class="switch-toggle switch-candy">
		<input id="dashboard" name="view" type="radio" checked>
		<label for="dashboard" onclick="location.href='/admin/dashboard'">Dashboard</label>

		<input id="history" name="view" type="radio">
		<label for="history" onclick="location.href='/admin/history'">History</label>
	</div>

	<table class='table'>
		<thead>
			<th>Date</th>
			<th>Picture</th>
			<th>Name</th>
			<th>Title</th>
			<th>Team</th>
			<th>Location</th>
			<th class='clk-btn'>Clock IN</th>
			<th class='clk-btn'>Clock OUT</th>
			<th>Personal Time</th>
			<th>Billed Hours</th>
			<th>Report</th>
		</thead>
		<% for (var i = 0; i < table.length; i++) { %>
		<tr>
			<td><%= table[i].date %></td>
			<td><img height='30' width='30' class='img-rounded' src="/img/dev.jpg" alt="<%= table[i].name %> profile pic"></td>
			<td><%= table[i].name %></td>
			<td><%= table[i].title %></td>
			<td><%= table[i].team %></td>
			<td><%= table[i].location %></td>
			<td><%= table[i].clock_in %></td>
			<td><%= table[i].clock_out %></td>
			<td><input id='hrs' type='number' step='0.25' min='0' max='24' placeholder='0.00'><span class='hrs'>hrs</span></td>
			<td><%= table[i].billed %></td>
			<td><%= table[i].report %></td>
		</tr>
		<% } %>
	</table>
</div>
</div>
</body>
</html>