<html>
<head>

	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/toggle.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
	<title>Employee History</title>

</head>
<body>
	<div class='container'>
		<div class='jumbotron'>
			<h1>Employee History</h1>
		</div>
		
		<div class='info'>
			<div>
				<h5>
					<strong>Contractors or Part Time Employees in CodingDojo (all locations)</strong> <br>
					If you're paid hourly, it's mandatory that you clock in/out whenever you work.
				</h5>
				<div id='filters' class='pull-right'>
					
					<div class='filters'>	
						Location: <select>
        <option value="all">All</option>
        <% for (var i = 0; i < locations.length; i++){ %>
        <option value="<%= locations[i].id %>"><%= locations[i].name %></option>
        <% } %>
      </select>
				</div>

				<div class='filters'>
					Name:    <select>
        <option value="all">All</option>
        <% for (var i = 0; i < members.length; i++){ %>
        <option value="<%= members[i].id %>"><%= members[i].name %></option>
        <% } %>
      </select>	
			</div>
			<br>
			<div class='filters'>
				Date: <input type='date'>
			</div><br>
			<ul class='filters pull-right'>
				<li><a href="">This Week</a></li>
				<li><a href="">Last Week</a></li>
				<li><a href="">This Month</a></li>
				<li><a href="">Last Month</a></li>						
			</ul>
		</div>	

	</div>
	<div class="switch-toggle switch-candy">
		<input id="dashboard" name="view" type="radio" checked>
		<label for="dashboard" onclick="location.href='dashboard'">Dashboard</label>

		<input id="history" name="view" type="radio">
		<label for="history" onclick="location.href='history'">History</label>

		<a></a>
	</div>
<<<<<<< HEAD
          <!-- LOAD JAVASCRIPT FILES -->
<script type="text/javascript" src='javascripts/jquery.js'></script>
<script type="text/javascript" src='javascripts/angular.min.js'></script>

=======

	<table class='table'>
		<thead>
			<th>Date</th>
			<th>Picture</th>
			<th>Name</th>
			<th>Title</th>
			<th>Team</th>
			<th>Location</th>
			<th class='clk-btn'>Clock IN</th>
			<th class='clk-btn'>Clock OUT</th>
			<th>Personal Time</th>
			<th>Billed Hours</th>
			<th>Report</th>
		</thead>
		<% for (var i = 0; i < table.length; i++){ %>
		<tr>
			<td><% if (table[i].date == null ){ %>
				<%= ' ' %>
				<% } else { %>
				<%= table[i].date %>
				<% } %>
			</td>
			<td><img height='30' width='30' class='img-rounded' src="/img/dev.jpg"></td>
			<td><%= table[i].name %></td>
			<td><%= table[i].title %></td>
			<td><%= table[i].team %></td>
			<td><%= table[i].location %></td>
			<td><%= (table[i].clock_in == null ? '' : table[i].clock_in) %></td>
			<td><%= (table[i].clock_out == null ? '' : table[i].clock_out) %></td> 
			<td><%= (table[i].personal == null ? '' : table[i].personal) %></td> 		
			<td><%= (table[i].billed == null ? '' : table[i].billed) %></td> 
			<td><%= (table[i].report == null ? '' : table[i].report) %></td> 
		</tr>
		<%}%>
	</table>
</div>
>>>>>>> dc4e4c36435529dbe3330fc82cd91c893f8a1224
</body>
</html>